.containerFeed {
  display: flex;
  flex-direction: column;
  color: blue;
  align-items: center;
  border: 1px solid blue;
}
.feed {
  height: 400px;
  width: 800px;
  overflow: auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
